.container {
  width: 1140px;
  max-width: 85%;
  margin: auto;
}

.button {
  padding: 19px 50px;
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  border: none;
  border-radius: 2px;
  outline: 0;
  outline-offset: 0;
  color: #000000;
}

.button__primary {
  background: #FFCC69;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after *:active *:focus *:hover {
  outline: 0;
  outline-offset: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.header {
  padding-top: 65px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.nav__item {
  margin-right: 31px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
}

.nav__item:last-of-type {
  margin-right: 0px;
}

.nav__item:hover {
  border-bottom: 2px solid #f0bc5e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero {
  padding-top: 279px;
  padding-bottom: 247px;
  background: url("../img/hero_bg.png") no-repeat;
  background-position: 80% 90%;
  block-size: 70%;
}

.hero__button {
  margin-top: 69px;
}

.hero__text-title {
  max-width: 569px;
  margin-bottom: 21px;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.hero__text-description {
  display: block;
  margin-bottom: 69px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hero__text-size {
  display: block;
  max-width: 107px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
}

.hero__services {
  max-width: 371px;
}

.hero__services-price, .hero__services-resoults, .hero__services-warranty, .hero__services-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__services-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.hero__services-group:last-of-type {
  margin-bottom: 0px;
}

.hero__group-text {
  display: block;
  max-width: 127px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
}

@media screen and (max-width: 1170px) {
  .hero {
    padding-top: 92px;
    background-size: 60%;
    background-position: 150% 40%;
  }
  .hero__text-title {
    max-width: 480px;
    font-size: 30px;
  }
  .hero__services-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .nav__item {
    font-size: 14px;
    margin-right: 12px;
  }
  .nav__item:last-of-type {
    margin-right: 0px;
  }
  .nav__item:hover {
    border-bottom: 1px solid transparent;
  }
  .contacts {
    font-size: 16px;
  }
  .hero {
    padding-top: 92px;
    background-size: 60%;
    background-position: 150% 40%;
  }
  .hero__text-title {
    max-width: 420px;
    font-size: 26px;
  }
  .hero__text-size {
    font-size: 13px;
  }
  .hero__services-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__group-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 760px) {
  .menu__nav {
    display: none;
  }
  .hero {
    padding-top: 42px;
    background-size: 65%;
    background-position: 150% 50%;
  }
  .hero__text-title {
    max-width: 360px;
    font-size: 23px;
  }
  .hero__text-description {
    font-size: 16px;
  }
  .hero__services-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .hero__services-price {
    margin-bottom: 30px;
  }
  .hero__services-warranty {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  .hero {
    background-size: 50%;
    background-position: 130% 40%;
  }
  .hero__text-title {
    max-width: 290px;
    font-size: 18px;
    line-height: 24px;
  }
  .hero__text-size {
    font-size: 14px;
  }
  .hero__text-description {
    font-size: 14px;
  }
  .hero__btn {
    font-size: 14px;
  }
  .hero__group-text {
    max-width: 115px;
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .hero {
    padding-bottom: 92px;
  }
  .hero__text-title {
    max-width: 260px;
    font-size: 16px;
  }
  .hero__text-description {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */