.container {
  width: 1140px;
  max-width: 85%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  padding: 19px 50px;
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  border: none;
  border-radius: 2px;
  outline: 0;
  outline-offset: 0;
  color: #000000;
}

.button__primary {
  background: #FFCC69;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after *:active *:focus *:hover {
  outline: 0;
  outline-offset: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  padding: 65px 0px 0px 0px;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__nav-link {
  margin-left: 31px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border-bottom: 2px solid transparent;
}

.menu__nav-link:hover {
  border-bottom: 2px solid #f0bc5e;
}

.phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}

.hero {
  padding-top: 215px;
  padding-bottom: 267px;
  background: url("../img/hero_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right 26%;
}

.hero__title {
  max-width: 569px;
  margin-bottom: 21px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.hero__title-description {
  display: block;
  margin-bottom: 69px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hero__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 371px;
  margin-bottom: 69px;
}

.hero__icons-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero__icons-content:nth-last-child(1) {
  margin-bottom: 0px;
}

.hero__icons-content:nth-last-child(2) {
  margin-bottom: 0px;
}

.hero__icons-text {
  display: block;
  max-width: 130px;
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.hero__icons-size {
  max-width: 109px;
}

.services {
  padding: 65px 0px 65px 0px;
}

.services__title {
  margin-bottom: 21px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.services__title-description {
  display: block;
  max-width: 511px;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.card {
  max-width: 358px;
  padding-bottom: 44px;
  overflow-x: hidden;
  margin: 10px;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 44px rgba(166, 166, 166, 0.25);
          box-shadow: 0px 4px 44px rgba(166, 166, 166, 0.25);
  border-radius: 10px;
}

.card__text {
  padding: 0px 41px;
}

.card__title {
  margin-top: 23px;
  margin-bottom: 3px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
}

.card__price {
  display: block;
  margin-bottom: 14px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.card__description {
  display: block;
  max-width: 274px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #000000;
}

.card__description-list {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  color: #000000;
}

.card__description-aside {
  margin-bottom: 20px;
}

.card__button {
  display: block;
  margin: auto;
}

@media screen and (max-width: 1390px) {
  .hero {
    background-position: bottom right -20%;
  }
}

@media screen and (max-width: 1170px) {
  .hero {
    background-size: 70%;
    background-position: bottom right -70%;
  }
}

@media screen and (max-width: 992px) {
  .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__nav-link {
    font-size: 14px;
  }
  .menu__nav-link:first-child {
    margin-left: 0px;
  }
  .hero {
    background-position: center right -80%;
  }
  .hero__title {
    max-width: 329px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__title-description {
    font-size: 16px;
  }
}

@media screen and (max-width: 760px) {
  .header__menu {
    display: none;
  }
  .hero__icons {
    max-width: 271px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__icons-order {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .hero__icons-content {
    margin-bottom: 30px;
  }
  .hero__icons-content:nth-last-child(2) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  .phone {
    font-size: 16px;
  }
  .hero {
    padding-top: 125px;
    padding-bottom: 92px;
  }
  .hero__title {
    max-width: 290px;
    font-size: 18px;
  }
  .hero__title-description {
    margin-bottom: 56px;
    font-size: 14px;
  }
  .hero__icons {
    margin-bottom: 56px;
  }
  .hero__icons-text {
    max-width: 115px;
    font-size: 14px;
  }
  .services {
    padding-top: 0px;
  }
  .services__title {
    font-size: 16px;
  }
  .services__title-description {
    max-width: 290px;
    font-size: 14px;
  }
  .card__text {
    padding: 0px 20px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__price {
    font-size: 18px;
  }
  .card__description {
    max-width: 255px;
    font-size: 13px;
  }
  .card__button {
    padding: 20px 44px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */