@media screen and (max-width:992px )
  .nav
    &__item
      font-size: 14px
      margin-right: 12px
      &:last-of-type
        margin-right: 0px
      &:hover
        border-bottom: 1px solid transparent
  .contacts
    font-size: 16px
@media screen and (max-width:760px )
  .menu
    &__nav
  .contacts
    display: none