@media screen and (max-width:1390px )
  .hero
    background-position: bottom right -20%
@media screen and (max-width:1170px )
  .hero
    background-size: 70%
    background-position: bottom right -70%
@media screen and (max-width:992px )
  .menu
    &__nav
      &-link
        font-size: 14px
      &-link:first-child
        margin-left: 0px
  .hero
    background-position: center right -80%
    &__title
      max-width: 329px
      font-size: 20px
      line-height: 24px
      &-description
        font-size: 16px
@media screen and (max-width:760px )
  .header
    &__menu
      display: none
  .hero
    &__icons 
      max-width: 271px
      flex-direction: column
      &-order
        order: -1
      &-content
        margin-bottom: 30px
        &:nth-last-child(2)
          margin-bottom: 30px
          
@media screen and (max-width:575px )
  .phone
    font-size: 16px
  .hero
    padding-top: 125px
    padding-bottom: 92px
    &__title
      max-width: 290px
      font-size: 18px
      &-description
        margin-bottom: 56px
        font-size: 14px
    &__icons
      margin-bottom: 56px
      &-text
        max-width: 115px
        font-size: 14px
  .services
    padding-top: 0px
    &__title
      font-size: 16px
      &-description
        max-width: 290px
        font-size: 14px
  
  
