.header
  position: fixed
  width: 100%
  padding: 65px 0px 0px 0px
.menu
  &__content
    display: flex
    align-items: center
    justify-content: space-between
  &__nav
    &-link
      margin-left: 31px
      text-decoration: none
      font-weight: 400
      font-size: 16px
      line-height: 19px
      color: $dark
      border-bottom: 2px solid transparent
      &:hover
        border-bottom: 2px solid $yellow
.phone
  font-weight: 400
  font-size: 18px
  line-height: 21px
  text-decoration: none
  color: $dark