.hero
  padding-top: 215px
  padding-bottom: 267px
  background: url('../img/hero_bg.png')
  background-repeat: no-repeat
  background-position: bottom right 26%
  &__title
    max-width: 569px
    margin-bottom: 21px
    font-family: 'Playfair Display', sans-serif
    font-weight: 900
    font-size: 36px
    line-height: 48px
    color: $dark
    &-description
      display: block
      margin-bottom: 69px
      font-weight: 700
      font-size: 18px
      line-height: 21px
      color: $dark
  &__icons
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 371px
    margin-bottom: 69px
    &-content
      display: flex
      align-items: center
      margin-bottom: 25px
      &:nth-last-child(1)
        margin-bottom: 0px
      &:nth-last-child(2)
        margin-bottom: 0px
    &-text
      display: block
      max-width: 130px
      margin-left: 8px
      font-weight: 400
      font-size: 16px
      line-height: 19px
    &-size
      max-width: 109px