.services
  padding: 65px 0px 65px 0px
  &__title
    margin-bottom: 21px
    font-weight: 900
    font-size: 24px
    line-height: 32px
    color: $dark
    &-description
      display: block
      max-width: 511px
      margin-bottom: 45px
      font-weight: normal
      font-size: 16px
      line-height: 150%
      color: $grey
.card
  max-width: 358px
  overflow-x: hidden
  border: 1px solid #EEEEEE
  box-sizing: border-box
  box-shadow: 0px 4px 44px rgba(166, 166, 166, 0.25)
  border-radius: 10px
  &__text
    padding: 23px 41px 44px 41px