.services
  padding: 65px 0px
  &__text
    &-title
      margin-bottom: 21px
      font-family: 'Playfair Display', serif
      font-weight: 900
      font-size: 24px
      line-height: 32px
      color: $dark
  &__title
    &-description
      display: block
      max-width: 450px
      margin-bottom: 45px
      font-size: 16px
      font-weight: 400
      line-height: 150%
      color: $grey
.card
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: center
  padding-bottom: 44px
  border: 1px solid #EEEEEE
  box-sizing: border-box
  box-shadow: 0px 4px 44px rgba(166, 166, 166, 0.25)
  border-radius: 10px
  &__button
    padding: 19px 28px
    font-weight: 900
    font-size: 16px
    line-height: 140%
    color: $dark
  &__text
    padding: 23px 40px 30px 40px
    &-title
      margin-bottom: 3px
      font-family: 'Playfair Display', serif
      font-weight: 900
      font-size: 22px
      line-height: 140%
      color: $dark
    &-price
      display: block
      margin-bottom: 14px
      font-family: 'Playfair Display', serif
      font-size: 24px
      font-weight: 400
      line-height: 140%
      color: $dark
    &-description
      display: block
      max-width: 235px
      font-size: 14px
      font-weight: 400
      line-height: 170%
      color: $dark
  &__img
    border-radius: 10px 10px 0px 0px
  &__description
    &-size
      margin-bottom: 10px
  &__list
    &-item
      color: $dark
   